
body{
    background: #ddd;
}

.main__search{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.h2__main{
    width: 100%;
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
}


.seleccion{
    display:flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}

.seleccion div{
    display: flex;
    flex-direction: column;
    margin: 10px 40px;
    text-align: center;
}

.seleccion label{
    margin-bottom: 5px;
}

.select{
    padding: 5px 0px; 
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.perfiles{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.perfil{
    border-radius: 30px;
    margin: 10px;
    border: 2px solid #bbb;
    flex-basis: 400px;
    max-width: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #efe;
    text-align: center;
    background: #dee;
}

.perfil-img{
    width: 100%;
    height: 250px;
    border-radius: 30px;

}

.perfil-img:hover{
    cursor: pointer;
}

.perfil h4{
    text-align: center;
    font-size: 24px;
}

.datos .descripcion{
    color:#444; 
}

.datos p{
    margin-top: 10px;
}

.datos b{
    color: #006;
}

.datos{
    padding: 0px 15px 15px 15px;
}

.show-more{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #999;
    background-color: #ddd;
}

.show-more:hover{
    cursor: pointer;
    background-color: #ccc;
}


@media screen and (max-width:750px){
    .seleccion{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:560px){
    .main__search{

        padding: 20px;
    }
    
    .h2__main{
        font-size: 26px;
    }
    .select{
        width: 230px;
    }

    .seleccion{
        margin-bottom: 15px;
    }

    .seleccion label{
        font-size: 14px;
    }

    .seleccion select{
        font-size: 12px;
    }
    .seleccion option{
        font-size: 12px;
    }

    .perfil{
        flex-basis: 300px;
        max-width: 300px;
        
    }
    
    .perfil-img{
        width: 100%;
        height: 180px;
        border-radius: 30px;
    
    }

    .perfil h4{
        font-size: 20px;
    }

    .datos p{
        margin-top: 5px;
        font-size: 14px;
    }
}

@media screen and (max-width:360px){
    .main__search{

        padding: 20px;
    }
    
    .h2__main{
        font-size: 22px;
    }
    .select{
        width: 220px;
    }

    .seleccion{
        margin-bottom: 10px;
    }

    .seleccion label{
        font-size: 13px;
    }

    .seleccion select{
        font-size: 11px;
    }
    .seleccion option{
        font-size: 11px;
    }

    .perfil{
        flex-basis: 250px;
        max-width: 250px;
        
    }
    
    .perfil-img{
        width: 100%;
        height: 150px;
        border-radius: 30px;
    
    }

    .perfil h4{
        font-size: 18px;
    }

    .datos p{
        margin-top: 5px;
        font-size: 12px;
    }
}