.main__search{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.h2__main{
    width: 100%;
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
}


.seleccion{
    display:flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}

.seleccion div{
    display: flex;
    flex-direction: column;
    margin: 10px 40px;
    text-align: center;
}

.select{
    padding: 5px 0px; 
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.perfiles{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.perfil{
    border-radius: 30px;
    margin: 10px;
    border: 2px solid #ccc;
    flex-basis: 400px;
    max-width: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #efe;
    text-align: center;
}

.perfil-img{
    width: 100%;
    height: 250px;
    border-radius: 30px;

}

.perfil-img:hover{
    cursor: pointer;
}

.perfil h4{
    text-align: center;
    font-size: 24px;
}

.datos .descripcion{
    color:#444; 
}

.datos p{
    margin-top: 10px;
}

.datos b{
    color: #006;
}

.datos{
    padding: 0px 15px 15px 15px;
}


@media screen and (max-width:750px){
    .seleccion{
        flex-direction: column;
        align-items: center;
    }
}