
*{
    font-family: 'Ubuntu', sans-serif;
    
} 
body{
    background: #afafaf;
}
.header{
    background: #362f6c;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
}

.nav{
    display: flex;
    align-items: center;
    color: #fff;
    width: 100%;
    padding: 0px 5px;
}
.nav__ul{
    display: flex;
    list-style: none;
    margin-left: auto;
    align-items: center;
}

.nav__li{
    margin: 0px 10px;
    
    
}
.nav__li a{
    color: #fff;
    text-decoration: none;
}

.nav__li:hover{
    color: rgb(218, 167, 129);
    cursor: pointer;
}

.nav__h1{
    justify-self: flex-start;
    color: rgb(218, 167, 129);
    margin-left: 10px;
    font-size: 30px;
}

.nav__img{
    width: 60px;
}

.nav__buttons{
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    border-style: none;
    margin: 5px;
    background: #1c1744;
    color: #fff;
    
}

.nav__buttons:nth-child(2){
    background:  rgb(218, 167, 129);
    color: #000;
}

.nav__buttons:hover{
    cursor: pointer;
}