<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="icon/icon6.png">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/menu_n.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/footer.css">
    <title>Nuevos usuarios - We-R-4</title>
</head>
<body id="app">
    <header>
        <div class="contenedor">
            <img src="images/birrete2.png" class="header__img">
            <h1 class="icon-graduation-cap h1__header">We-R-4</h1>
            <input type="checkbox" id="menu-bar">
            <label class="icon-menu" for="menu-bar"></label>
            <nav class="menu">
                <a href="index.html">Inicio</a>
                <a href="prof_search.html">Profesores</a>
                <a href="teachers_zone.html">Enseñar</a>
                <a href="free_resources.html">Contenido gratuito</a>
                <a href="contact.html">Contactanos</a>
                <a href="register_new_user.html">Registrarte</a>
            </nav>
        </div>
    </header>
    <main class="main">
        <form action="link" method="POST" target="_blank" class="form" @submit="validarFormulario">
            <h2>Registrate en WE-R-4</h2>
            <h4>Unite para encontrar los mejores profesores o para ser uno de ellos</h4>
            <div class="nombre">
                <label for="user_first">Nombres</label>
                <input type="text" name="first_name" id="user_first" placeholder="Juan/María">
            </div>
            <div class="apellido">
                <label for="user_last">Apellidos</label>
                <input type="text" name="last_name" id="user_last" placeholder="Pérez">
            </div>
            <div class="correo">
                <label for="email_1">Correo electrónico</label>
                <input type="email" name="email" id="email_1" placeholder="tu_mail@ejemplo.com">
            </div>
            <div class="numero">
                <label for="numero">Numero de telefono</label>
                <input type="text" name="numero" id="numero" placeholder="114298354098">
            </div>
            <div class="fecha-nacimiento">
                <label for="age">Fecha de nacimiento</label>
                <input type="date" name="user_birth" id="birth" >
            </div>
            <div>
                <label for="photo">Foto de perfil</label>
                <input type="text" name="user_photo" id="photo" placeholder="Introduzca una url">
            </div>
            <div class="perfil">
                <label for="user_choice">Elige el tipo de perfil</label>
                <select name="user_type" id="user_perfil" v-model="perfil" @change="mostrar_materia"> 
                    <option value="estudiante">Quiero aprender</option>
                    <option value="profesor">Quiero enseñar</option>
                    <option value="ambas">Ambas</option>
                </select>
            </div>
            <div class="materia perfil" id="div_materia" >
                <label for="materia">Elige una materia</label>
                <select name="user_type" id="materia" v-model="materia" > 
                    <option value="quimica">Quimica</option>
                    <option value="fisica">Fisica</option>
                    <option value="matematicas">Matematicas</option>
                    <option value="literatura">Literatura</option>
                    <option value="historia">Historia</option>
                </select>
            </div>
            <div class="modalidad perfil">
                <label for="modalidad">Elige la modalidad</label>
                <select name="modalidad" id="modalidad" v-model="modalidad" @change="mostrar_provincias"> 
                    <option value="a_distancia"> A distancia</option>
                    <option value="presencial">Presencial</option>
                    <option value="ambas">Ambas</option>
                </select>
            </div>
            <div class="perfil provincias" id="div_provincias">
                <label for="provincias">Selecciona tu provincia</label>
                <select name="provincias" id="provincias" class="select">
                </select>
            </div>
            <div id="div_descripcion">
                <label for="descripcion">Introduce una descripcion</label>
                <textarea name="descripcion" id="descripcion" style="resize:none;"></textarea>
            </div>
            <input type="submit" value="Completar registro" class="submit">
        </form>
        
    </main>
    <section class="info text-center" id="info">
        <H3>Todos buscamos adquirir conocimientos que nos sirvan para desarrollarnos.</H3>
        <div class="contenedor">
            <div class="info-pet">
                <img src="images/educación-online.jpeg" alt="">
                <h4>Educación a Distancia</h4>
            </div>
            <div class="info-pet">
                <img src="images/educacion-virtual.jpg" alt="">
                <h4 class="description">Obtene una Certificación</h4>
            </div>
            <div class="info-pet">
                <img src="images/U0P2mMvq_400x400.jpg" alt="">
                <h4>Tutor-Alumno</h4>
            </div>
            <div class="info-pet">
                <img src="images/depositphotos_52690275-stock-illustration-education-design.jpg" alt="">
                <h4>Miles de Cursos</h4>
            </div>

        </div>
        
    </section>
    <footer>
        <h4 class="footer__h4">Seguinos en nuestras redes sociales</h4>
        <ul class="social">
            <li><img src="images/instagram.png"></li>
            <li><img src="images/facebook.png"></li>
            <li><img src="images/youtube.png" class="yt__footer"></li>
            <li><img src="images/twitter.png"></li>
        </ul>
    </footer>

</body>
    <script src="https://unpkg.com/vue@next"></script>     
    <script src="js/valid_form.js"></script>
</html>